<!DOCTYPE html>
<html>
<body>


<input type="text" id="response" value="Some text..." disabled>

<input type="submit" onclick="loadImport()" value="submit">

<p id="demo"></p>

<script>
var clicks = [];
var response = '';
// collect events and push those as X,Y coordinates
var mouseClick = function(e) {
    var x = e.clientX !== null ? e.clientX : -1;
    var y = e.clientY !== null ? e.clientY: -1;
    if ( x >= 0 && y >= 0) {
        clicks.push([x, y]);
    }
};
window.addEventListener('click', mouseClick, false);
window.addEventListener('contextmenu', mouseClick, false);
// take a JSON object and return a Base64 string
var toBase64 = function(value) {
    return btoa(JSON.stringify(value));
};
 
// distance between two points in a plain (x1, y1), (x2, y2)
var distance = function(a, b) {
    if (a && b) {
        if (a.length > 1 && b.length > 1) {
            return Math.sqrt((b[0]-=a[0])*b[0] + (b[1]-=a[1])*b[1]);
        }
    }
    return -1;
};
// calculate the area of a triable using its points
var triangleArea = function(points) {
    var area = Math.abs(((points[0][0] * (points[1][1] - points[2][1])) +
                         (points[1][0] * (points[2][1] - points[0][1])) +
                         (points[2][0] * (points[0][1] - points[1][1])))/ 2.0);
    return area;
};
var squareArea=function(points){
    var dist1=distance(points[0],points[1]);
    var dist2=distance(points[0],points[2])
    var area=Math.abs(dist1*dist2);
    return area;
};
var DistanciaPunto1aPuntoFinal = function(points){
    var distancia=distance(points[0],points[points.length-1]);
    return distancia;
};
// a triangle is isosceles, return 'isosceles' if true, 'other' if false
var isIsosceles = function(points) {
    dAB = distance(points[0], points[1]);
    dBC = distance(points[0], points[2]);
    dCA = distance(points[1], points[2]);
    if ( dAB == dCA || dAB == dBC || dBC == dCA) {
        alert('Isosceles!');
        return 'isosceles';
    }
    alert('Just another triangle');
    return 'other';
};
// send data to the API on the click of a button (triggered by Submit)
var loadImport = function() {
    alert('entro al evento');
    var points = clicks.slice(0, clicks.length);
    var pointsStr = toBase64(points);
    var scr = document.createElement('script');
    document.getElementById("response").disabled='false';
    scr.id = '_scr';
    if (points.length == 3) {
        scr.src = 'http://localhost:5000/triangle';
        var area = triangleArea(points);
        var type = isIsosceles(points);
        scr.src = scr.src +
            '?area=' +
            area +
            '&type=' +
            type +
            '&points=' +
            pointsStr;
    }
    if (points.length == 4) {
        scr.src = 'http://localhost:5000/square';
        var area = squareArea(points);
        alert('square thought'+ area);
        scr.src = scr.src +
            '?area=' +
            area +
            '&points=' +
            pointsStr;
    }
    if (points.length != 4 && points.length !=3 ){
        alert('other shape');
        var dis=DistanciaPunto1aPuntoFinal(points);
        alert('The distance between point number one ans the last ponit is > ' + dis)
    }
   document.body.appendChild(scr);
    scr.onload = function() {
        document.getElementById('responseLabel').value = response;
        document.getElementById('_scr').outerHTML = '';
        clicks.length = 0;
    };
};
</script>

</body>
</html>
